.App {
  text-align: center;
  /* border: 3px solid black; */
}

.welcome {
  margin: 2rem auto;
  /* border: 2px solid green; */
  
}

.login-signup {
  margin-top: 2rem;
  padding: 2rem;
  /* border: 2px solid brown; */
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: rgba(0, 0, 0, 0.5);
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  
  /* border: 5px solid red; */
  
}

.albums-control {
  /* border: 2px solid blue; */
  margin-bottom: 2rem;
  
}

.new-album-container {
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.invitation-container {
  margin: 2rem;
}

.photo-uploader-container {
  border: 2px solid red;
}

.dropzone {
  border:2px solid brown;
  
  display: flex;
  align-items: center;
  justify-content: center;
}

.new-pic-details {
  margin: 2rem auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid brown;
}

.main-body {
  width: 80%;
  margin: auto;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
