* {
  box-sizing: border-box;
}

.App {
  text-align: center;
  /* border: 3px solid black; */
}

.welcome {
  margin: 6rem auto;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 2rem 0;
  border-radius: 6px;
}

.welcome-buttons {
  padding: 2rem;
}

.login-signup {
  margin-top: 2rem;
  padding: 2rem;
  /* border: 2px solid brown; */
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  /* border: 5px solid red; */
}

.albums-control {
  /* border: 2px solid blue; */
  margin-bottom: 2rem;
  margin-top: 0;
}

.view-button {
  margin: 2rem;
}

.new-album-container {
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.invitation-container {
  margin: 2rem;
}

.photo-uploader-container {
  /* border: 2px solid red; */
  padding-bottom: 2rem;
}

.upload-container {
  margin-top: 3rem;
}

.dropzone {
  /* border:2px solid brown; */
  margin-top: 1.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.uploaded-image-preview {
  margin-top: 2rem;
}

.new-pic-details {
  margin: 2rem auto;
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 2px solid brown; */
}

.main-body {
  width: 80%;
  margin: auto;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 2rem 0;
  border-radius: 6px;
}

.nav-header {
  padding: 0;
  margin: 0;
}

.modal-overlay {
  width: 90%;
  height: 80%;
}

.modal-img {
  width: 100%;
  height: 100%;
}

.slideshow {
  width: 700px;
  height: 700px;
  position: relative;
  display: inline-block;
  margin: 0 auto;
  overflow: hidden;
  white-space: nowrap;
}

.slide {
  display: inline-block;
  height: 100%;
  width: 100%;
}

.slider-wrapper {
  position: relative;
  height: 100%;
  width: 100%;
}

.back {
  position: absolute;
  top: 50%;
  left: 25px;
  z-index: 999;
  color: #fff;
}

.forward {
  position: absolute;
  top: 50%;
  right: 25px;
  z-index: 999;
  color: #fff;
}
